* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

section.hero-section header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    justify-content: space-around;
    align-items: center;
}

section.hero-section header .logo {
    font-size: 50px;
    font-family: 'Bilbo Swash Caps', cursive;
    padding: 5px 0px;
    letter-spacing: .15em;
}

section.hero-section header nav ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}

section.hero-section header nav ul li {
    letter-spacing: 8px;
    padding: 0px 15px;
    color: white;
}

a {
    text-decoration: none;
}

section.hero-section header .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.hero-section header .social img {
    margin: 0px 15px;
    transition: border-radius 2s ease-in-out;
}

section.hero-section .center-hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

section.hero-section .center-hero-text h1 {
    font-size: 70px;
    letter-spacing: 5px;
    margin: 30px;
}

section.hero-section .center-hero-text p {
    font-size: 24px;
    width: 70%;
    margin: 50px;
    line-height: 1.75;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
}

section.hero-section .center-hero-text .hero-menu-button {
    text-transform: uppercase;
    padding: 12px 50px;
    font-size: 14px;
    border: 1px solid #fff;
    margin: 50px;
}

section.hero-section .center-hero-text a:visited {
    color: white;
}

section.separator {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

section.separator img {
    margin-top: -45px;
}