* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upper {
    text-transform: uppercase;
}

section.hero-section {
    position: relative;
    height: 100vh;
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 50;
}

section.hero-section header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 50px;
    font-family: 'Bilbo Swash Caps', cursive;
    padding: 5px 0px;
    letter-spacing: .15em;
}

section.hero-section header nav ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}

section.hero-section header nav ul li {
    letter-spacing: 8px;
    padding: 0px 15px;
}

section.hero-section header nav ul li a {
    color: white;
}

a {
    text-decoration: none;
}

section.hero-section header .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.hero-section header .social img {
    margin: 0px 15px;
    transition: border-radius 2s ease-in-out;
}

section.hero-section .center-hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

section.hero-section .center-hero-text h1 {
    font-size: 70px;
    letter-spacing: 5px;
    margin: 30px;
}

section.hero-section .center-hero-text p {
    font-size: 24px;
    width: 70%;
    margin: 50px;
    line-height: 1.75;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
}

section.hero-section .center-hero-text .hero-menu-button {
    padding: 2% 12%;
    font-size: 20px;
    border: 2px solid #fff;
    margin: 50px;
    font-weight: bold;
    transition: all .25s ease-in-out;
    background-color: rgba(0,0,0,.2);
    letter-spacing: 2px;
}

a:visited {
    color: white;
}

section.hero-section .center-hero-text a:hover {
    background-color: white;
    color: #a47d5e;
}

section.separator {
    position: relative;
    height: 10px;
    z-index: 99;
}

section.separator .separator-circle {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.separator img {
    position: relative;
    height: 80px;
    width: 80px;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .1;
}

section.art-of-the-burger {
    position: relative;
    background-image: url('../images/paper-bg.jpg');
    background-repeat: repeat;
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
    z-index: 10;
}

section.art-of-the-burger .burger-container {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

section.art-of-the-burger .burger-container .left-side-container {
    width: 50%;
    text-align: center;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.art-of-the-burger .burger-container .left-side-container .left-side-text {
    line-height: 1.5;
    letter-spacing: 2px;
}

section.art-of-the-burger .burger-container .left-side-container h3 {
    font-size: 24px;
}

section.art-of-the-burger .burger-container .left-side-container .inner-left-side-container {
    margin-top: -50px;
}

section.art-of-the-burger .burger-container .left-side-container .inner-left-side-container h1 {
    font-size: 48px;
    padding-bottom: 10px;
}

section.art-of-the-burger .burger-container .left-side-container .inner-left-side-container h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #a47d5e;
}

section.art-of-the-burger .burger-container .left-side-container .chef-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

section.art-of-the-burger .burger-container .left-side-container .chef-div p {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 15px 25px;
    margin: 0px 15px;
    font-size: 24px;
}

section.art-of-the-burger .burger-container .left-side-container .chef-div img {
    border-radius: 50%;
    border: 5px solid #ffffff;
}

section.art-of-the-burger .burger-container .left-side-container .chef-quote {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: -50px auto;
}

section.art-of-the-burger .burger-container .left-side-container .chef-quote i {
    font-size: 20px;
    opacity: .25;
}

section.art-of-the-burger .burger-container .left-side-container .chef-quote p {
    align-self: center;
    font-size: 36px;
    font-family: 'Tangerine', cursive;
    color: #a47d5e;
}

section.art-of-the-burger .burger-container .left-side-container .chef-quote i.quote-1 {
    align-self: flex-start;
}

section.art-of-the-burger .burger-container .left-side-container .chef-quote i.quote-2 {
    align-self: flex-end;
}

section.art-of-the-burger .burger-container .right-side-container .grid-container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-left: 10px;
}

section.art-of-the-burger .burger-container .right-side-container .grid-container h2 {
    font-size: 36px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #c9b176;
}

section.art-of-the-burger .burger-container .right-side-container .grid-container .abs-gear-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .95;
}

section.art-of-the-burger .burger-container .right-side-container .top-left-image {
    grid-row: 1;
    grid-column: 1;
}

section.art-of-the-burger .burger-container .right-side-container .top-right-image {
    grid-row: 1;
    grid-column: 2;
}

section.art-of-the-burger .burger-container .right-side-container .bottom-left-image {
    grid-row: 2;
    grid-column: 1;
}

section.art-of-the-burger .burger-container .right-side-container .bottom-right-image {
    grid-row: 2;
    grid-column: 2;
}

section.tasty-fries {
    position: relative;
    background-image: url("../images/white-table.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
    z-index: 5;
}

.tasty-fries .middle-section {
    width: 60vw;
    height: 70vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 25px;
}

.tasty-fries .middle-section img {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tasty-fries .middle-section .fries-right-side {
    position: relative;
    background-image: url('../images/barn-bg.jpg');
    background-size: 543px 511px;
    background-repeat: no-repeat;
    width: 543px;
    height: 511px;
    padding-left: 4%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tasty-fries .middle-section .fries-right-side h2 {
    font-size: 48px;
    margin-top: 15%;
}

.tasty-fries .middle-section .fries-right-side h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    color: #a47d5e;
}

.tasty-fries .middle-section .fries-right-side p {
    line-height: 1.75;
    letter-spacing: 1px;
    margin-top: 13%;
    margin-right: 10%;
}

.tasty-fries .middle-section .tasty-floating-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: -100px;
    margin-top: -400px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), -15px 15px 30px rgba(0,0,0,0.22);
}

.tasty-fries .middle-section .tasty-floating-div p:first-child {
    color: #a47d5e;
    font-weight: bold;
    font-size: 20px;
}

.tasty-fries .middle-section .tasty-floating-div p:nth-child(2) {
    font-size: 80px;
    font-weight: bold;
    color: rgb(235, 226, 144);
}

.tasty-fries .middle-section .tasty-floating-div p:nth-child(3) {
    font-size: 24px;
}

.carousel-container {
    margin-top: 150px;
}

.carousel-container .carousel-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}



.breakfast {
    position: relative;
    background-image: url('../images/breakfast-bg.png');
    background-size: 100% 100%;
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.breakfast .breakfast-inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 85px 0px;
    padding-left: 90px;
}

.breakfast .breakfast-inner .breakfast-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.breakfast .breakfast-inner .breakfast-left,  .breakfast .breakfast-inner .breakfast-right {
    width: 50%;
    text-align: center;
}
.breakfast .breakfast-inner .breakfast-left header {
    margin-bottom: 75px;
}

.breakfast .breakfast-inner .breakfast-left header h1 {
    color: white;
    font-size: 64px;
    letter-spacing: 2px;
}

.breakfast .breakfast-inner .breakfast-left header p {
    font-size: 16px;
    text-transform: uppercase;
    color: #c8a593;
    font-weight: bold;
    letter-spacing: 2px;
}

.breakfast .breakfast-inner .breakfast-left .menu-item {
    margin-bottom: 40px;
}

.breakfast .breakfast-inner .breakfast-left .menu-item h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.breakfast .breakfast-inner .breakfast-left .menu-item p:nth-child(2) {
    color: #9c999b;
    font-size: 18px;
    margin-bottom: 20px;
}

.breakfast .breakfast-inner .breakfast-left .menu-item p:nth-child(3) {
    color: rgb(235, 226, 144);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.breakfast .breakfast-inner .breakfast-right .breakfast-right-inner {
    width: 80%;
    margin: 0 auto;
    background-image: url('../images/right-side-menu.png');
    background-size: 100% 100%;
    height: 100%;
    margin-left: 160px;
}

.breakfast .breakfast-inner .breakfast-right .breakfast-right-inner .breakfast-right-read {
    color: #56534c;
    padding-top: 200px;
}

.breakfast .breakfast-inner .breakfast-right .breakfast-right-inner .breakfast-right-read h1 {
    font-size: 44px;
    margin-bottom: 60px;
}

.breakfast .breakfast-inner .breakfast-right .breakfast-right-inner .breakfast-right-read p {
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 90px;
}

.breakfast .breakfast-inner .breakfast-right .breakfast-right-inner .breakfast-right-read a {
    color: #a47d5e;
    border: 1px solid #9e9c93;
    padding: 15px 80px;
    transition: all .25s ease-in-out;
    font-weight: bold;
}

.breakfast .breakfast-inner .breakfast-right .breakfast-right-inner .breakfast-right-read a:hover {
    color: white;
    background-color: #9e9c93;
}

.bottom-section {
    position: relative;
    background-color: #f3f1e9;
}

.bottom-section header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.bottom-section header h1 {
    font-size: 48px;
}

.bottom-section header h2 {
    font-size: 1.25em;
    margin-top: 10px;
    color: #a47d5e;
}

.bottom-section .bottom-section-middle {
    display: flex;
}

.bottom-section .bottom-section-middle .bottom-section-left, .bottom-section .bottom-section-middle .bottom-section-right {
    width: 50%;
}

.bottom-section .bottom-section-middle .bottom-section-left {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.bottom-section .bottom-section-middle .bottom-section-left .bottom-section-left-ingredients {
    margin-bottom: 50px;
}

.bottom-section .bottom-section-middle .bottom-section-left .bottom-section-left-ingredients img {
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    margin-bottom: 20px;
}

.bottom-section .bottom-section-middle .bottom-section-left .bottom-section-left-ingredients h3 {
    font-size: 1.75em;
    margin-bottom: 20px;
    color: #a47d5e;
}

.bottom-section .bottom-section-middle .bottom-section-left .bottom-section-left-ingredients p {
    margin-bottom: 20px;
}

.bottom-section .bottom-section-middle .bottom-section-right {
    margin: auto 0;
}

.bottom-section .bottom-section-middle .bottom-section-right img {
    margin-left: -200px;
    box-shadow: 5px 2px 20px rgba(0,0,0,.5);
}

.bottom-section-bottom {
    padding: 75px;
    display: flex;
    justify-content: center;
}

.bottom-section-bottom .inside-bottom-section {
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

.bottom-section-bottom .inside-bottom-section ul { 
    display: flex;
    align-items: center;
    list-style-type: none;
}

.bottom-section-bottom .inside-bottom-section ul li {
    font-size: 12px;
    margin-right: 20px;
    letter-spacing: 2px;
}

.bottom-section-bottom .inside-bottom-section ul li:nth-child(odd) {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 15px 25px;
}

.bottom-section-bottom .inside-bottom-section ul li a {
    color: black;
    text-transform: uppercase;
}

.bottom-section-bottom .inside-bottom-section .bottom-logo {
    margin: 0 30px;
    color: #7e7c75;
}